package ${package}.modules.${moduleName}.${entity};

import com.baomidou.mybatisplus.annotations.TableId;
import com.baomidou.mybatisplus.annotations.TableName;
import com.baomidou.mybatisplus.annotations.TableField;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.io.Serializable;
import java.util.Date;

#if(${swagger})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@TableName("${tableName}")
#if(${swagger})
@ApiModel(value = "${comments}")
#end
public class ${className}Entity implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
#if($column.columnName == $pk.columnName)
	@TableId
#if(${swagger})
	@ApiModelProperty(value = "主键", example = "$column.example", hidden = true)
#end
#else
#if($column.nullAble)
#if($column.attrType == "String")
	@NotBlank(message = "${column.comments}不能为空")
#else
	@NotNull(message = "${column.comments}不能为空")
#end
#end
#if(${swagger})
	@ApiModelProperty(value = "$column.comments", example = "$column.example", hidden = ${column.hidden}, required = $column.nullAble)
#end
#if($column.attrType == "Boolean")
    @TableField("${column.columnName}")
#end
#end
	private $column.attrType $column.attrname;
#end

#foreach ($column in $columns)

	/**
	 * 设置：${column.comments}
	 */
	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}

	/**
	 * 获取：${column.comments}
	 */
	public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
#end
}
