-- 菜单SQL
INSERT INTO `sys_menu` (`parent_id`, `name`, `url`, `perms`, `type`, `icon`, `order_num`)
    VALUES ('1', '${api}', 'modules/${moduleName}/${pathName}.html', NULL, '1', 'fa fa-file-code-o', '6');

-- 菜单对应按钮SQL
INSERT INTO `sys_menu` (`parent_id`, `name`, `url`, `perms`, `type`, `icon`, `order_num`)
    VALUES ((SELECT parent_id from (SELECT parent_id from sys_menu where name = '${api}') as a), '查看', null, '${moduleName}:${pathName}:list,${moduleName}:${pathName}:info', '2', null, '6');
INSERT INTO `sys_menu` (`parent_id`, `name`, `url`, `perms`, `type`, `icon`, `order_num`)
    VALUES ((SELECT parent_id from (SELECT parent_id from sys_menu where name = '${api}') as a), '新增', null, '${moduleName}:${pathName}:save', '2', null, '6');
INSERT INTO `sys_menu` (`parent_id`, `name`, `url`, `perms`, `type`, `icon`, `order_num`)
    VALUES ((SELECT parent_id from (SELECT parent_id from sys_menu where name = '${api}') as a), '修改', null, '${moduleName}:${pathName}:update', '2', null, '6');
INSERT INTO `sys_menu` (`parent_id`, `name`, `url`, `perms`, `type`, `icon`, `order_num`)
    VALUES ((SELECT parent_id from (SELECT parent_id from sys_menu where name = '${api}') as a), '删除', null, '${moduleName}:${pathName}:delete', '2', null, '6');
