package ${package}.${modules}.${moduleName}.${service};

import com.baomidou.mybatisplus.service.IService;
import ${package}.common.utils.PageUtils;
import ${package}.${modules}.${moduleName}.${entity}.${className}Entity;

import java.util.Map;

/**
 * ${comments} 接口
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}Entity> {

    PageUtils queryPage(Map<String, Object> params);
}

