package ${package}.${modules}.${moduleName}.${service};

import com.baomidou.mybatisplus.extension.service.IService;
import com.sc.commonlib.ge.dbtool.plus.page.PageData;
import com.sc.commonlib.ge.dbtool.plus.page.PageInfo;
import com.sc.tv.base.entity.pb.bean.${className};

import java.util.Map;

/**
 * ${comments} 接口
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {

    PageData<${className}> queryPage(PageInfo pageInfo, ${className} ${classname});
}

