package ${package}.${modules}.${moduleName}.${service};

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.common.utils.PageInfo;
import ${package}.common.utils.PageData;
import ${package}.${modules}.${moduleName}.${entity}.${className};

import java.util.Map;

/**
 * ${comments} 接口
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface I${className}Service extends IService<${className}> {

    PageData<${className}> queryPage(PageInfo pageInfo, ${className} ${classname});
}

