package ${package}.${modules}.${moduleName}.${service}.impl;

import org.apache.commons.lang.StringUtils;
import org.springframework.stereotype.Service;
import java.util.Map;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.sc.commonlib.ge.dbtool.plus.page.PageInfo;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import com.sc.commonlib.ge.dbtool.plus.page.PageData;

import com.sc.tv.base.entity.pb.dao.I${className}Dao;
import com.sc.tv.base.entity.pb.bean.${className};
import ${package}.${modules}.${moduleName}.${service}.${className}Service;

/**
 * ${comments} 实现
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service("${classname}Service")
public class ${className}ServiceImpl extends ServiceImpl<I${className}Dao, ${className}> implements ${className}Service {

    @Override
    public PageData<${className}> queryPage(PageInfo pageInfo, ${className} ${classname}) {

        PageData<${className}> resultData = new PageData<>(pageInfo);
#foreach ($searchColumn in $searchColumns)
        String ${searchColumn.attrname} = (String) params.get("${searchColumn.attrname}");
#end
        IPage<${className}> page = this.baseMapper.selectPage(
                resultData,
                new QueryWrapper<${className}>()
#foreach ($searchColumn in $searchColumns)
#if($searchColumn.attrType == "Integer")
                        .eq(StringUtils.isNotBlank(${searchColumn.attrname}), "${searchColumn.columnName}", ${searchColumn.attrname})
#else
                        .like(StringUtils.isNotBlank(${searchColumn.attrname}), "${searchColumn.columnName}", ${searchColumn.attrname})
#end
#end
        );
        return resultData;
    }

}
